body
{
margin-top : 0px;
background: url(../images/bg.jpg);
width:100%;
}
#tengah
{
text-align:center
}
#header
{

height:150px;
color : white;
text-align : center;
font-size :30px;
font-family :arial;
-moz-box-shadow: 0 0 2px 2px #9b7e7e;
-webkit-box-shadow: 0 0 2px 2px#9b7e7e;
box-shadow: 0 0 2px 2px #9b7e7e;
}
#oval {
border : 1px solid black;
    -moz-border-radius : 25px;
    -webkit-border-radius : 25px;
	width:250px;
}
#template
{
/*border-collapse:collapse;*/
width:1100px;
}
#template  td
{
border: 1px solid white;
}
#tabel
{
font-size:15px;
border-collapse:collapse;
}
#tabel  td
{
padding-left:5px;
border: 1px solid black;
}
#login {
border : 0px solid black;
font-size:13px;
}
#tabelinput
{
font-size:15px;
border-collapse:collapse;
}

/* -------------MENU (BEGIN)--------------*/
#menuposisi {
	width:1100px;
}
#menu {
	position: relative;
	width: 100%;
	height: 30px;
	background: blue;
	border:1px solid white;
	font-family:arial;
    
	-moz-box-shadow: 0 0 2px 2px #9b7e7e;
-webkit-box-shadow: 0 0 2px 2px#9b7e7e;
box-shadow: 0 0 2px 2px #9b7e7e;
}

#menu ul {
	padding: 0px;
	margin: 0px;
	list-style: none;
} 

#menu ul li {
	float: left; 
	position: relative;
}

#menu ul li a {
	float: left;
	color: #FFFFFF;
	padding: 5px;
	padding-left:15px;
	padding-right:15px;
	border-right: 1px solid white;
	
	border-left: 1px solid white;
	
	text-decoration: none;
	display: block;
}

#menu ul li a:hover {
	background: silver;
	color:#000000;
}

#menu ul li ul {
	display: none;
}

#menu ul li:hover ul { 
	display: block; 
	position: absolute; 
	top:30px; 
	left:0;
}

#menu ul li:hover ul li a {
	display: block; 
	background: blue; 
	color: #ffffff; 
	width: 130px; 
	border-left: 1px solid #000000;
	border-bottom: 1px solid white;
}

#menu ul li:hover ul li a:hover {
	background: silver; 
	color: #000000;
}
/* -------------MENU (END)--------------*/
#background {
border : 0px solid white;
    -moz-border-radius : 25px;
    -webkit-border-radius : 25px;

}
/*---------------KONTEN (BEGIN) --------------*/
#konten
{
font-family:arial;
text-align:center;
vertical-align:top;
padding-top:20px;
padding-bottom:30px;
background:#d7cdea;
width:1100px;
min-height: 400px;
border : 1px solid white;
    -moz-border-radius : 15px;
    -webkit-border-radius : 15px;
	-moz-box-shadow: 0 0 2px 2px #9b7e7e;
-webkit-box-shadow: 0 0 2px 2px#9b7e7e;
box-shadow: 0 0 2px 2px #9b7e7e;
}
#wew img:hover{
  width: 45px;
  height: 45px;
}
/*------------KONTEN (END) -------------------*/
/*-----------FOOTER (BEGIN)------------*/
#footer
{
font-family:arial;
font-size:11px;
text-align:center;
background-color:#99a3c3;
width:1100px;
-moz-box-shadow: 0 0 2px 2px #9b7e7e;
-webkit-box-shadow: 0 0 2px 2px#9b7e7e;
box-shadow: 0 0 2px 2px #9b7e7e;
}
/*-----------FOOTER (END)------------*/

/*PAGINATION*/
#pagination a
{
text-decoration:none;
color:#B2b2b2;

}

#pagination a:hover
{

color:#DF3D82;
text-decoration:underline;

}
#loading { 
width: 300px; 
position:absolute;
}

#pagination
{
text-align:center;
}
#pagination li{	
list-style: none; 
float: left; 
margin-right: 16px; 
padding:5px; 
border:solid 1px #000000;
color:#0063DC; 
}
#pagination li:hover
{ 
color:#FF0084; 
cursor: pointer; 
}
#page a
{
color:blue;
}
#page a:visited
{
color:blue;
}
.highlight
{
background: #CEDAEB;
}

.highlight_important
{
background: #9afa95;
}